.player{
    padding: 2%;
}

.container-fluid{
    display: inline-block;
}

body{
    background-color: #393E46;
    color: #4ECCA3;
}

footer{
    text-align: center;
}

h1{
    font-size: 8rem;
    font-family: 'Lobster', cursive;
    margin-bottom: 0%;
}

.playernumber{
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.contain-mar{
    margin-top: 2rem;
}

.image{
    width: 80%;
}